{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
    <div class="ui segment">
        <div class="ui form">
            {{ form_start(registrationForm, {'attr': {'class': 'ui form'}}) }}

            {% for field in registrationForm.children %}
                {% if field.vars.name != '_token' %}
                    <div class="field">
                {% if field.vars.name != 'password' %}
                        <label>{{ form_label(field) }}</label>
                {% endif %}
                        {{ form_widget(field) }}
                        {{ form_errors(field) }}
                    </div>
                {% endif %}
            {% endfor %}

            <button type="submit" class="ui primary button">Register</button>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
